
.player img{
    height: 250px;
    width: 250px;
    margin: 5px;
    border: 5px solid goldenrod;

}
.player{
    float: left;
    text-align: center;
    border: 2px solid green;
    margin: 10px;
    padding: 5px;
    box-shadow: 5px 5px rgb(29, 151, 233);
    border-radius: 10px;
}